<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="mybatis.mapper.mappers.UserMapper">
    <select id="search">
        SELECT * FROM user
        <where>
            <if test="name != null">AND name = #{name}</if>
            <if test="minAge != null">AND age >= #{minAge}</if>
        </where>
    </select>
</mapper>