<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="mybatis.mapper.mappers.UserMapper">
    <sql id="userColumns">id,name,age</sql>
    <resultMap id="userViewMap">
        <result column="name" property="uname"/>
    </resultMap>
    <select id="findAllView" resultMap="userViewMap">
        SELECT * FROM user
    </select>
    <select id="search">
        SELECT
        <include refid="userColumns"/>
        FROM user
        <where>
            <if test="name != null">AND name = #{name}</if>
            <if test="minAge != null">AND age >= #{minAge}</if>
        </where>
    </select>
</mapper>